<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>There are several restaurants that fit your selected criteria. They are </h2>
    <h2>
      <% @result.each do |t| %> 
      <br>
      <%= t %>
      <% end %>
    </h\2>
</html>